@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/*
FONTS:
font-family: 'Fredoka One', cursive;
font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none; /* Pour enlever les puces */
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

a {
    text-decoration: none; /* Pour enlever le trait sous les liens */
    color: rgb(7, 128, 209);
}

/* ************************* NAVBAR ************************* */

nav {
    overflow: hidden; /* Pour cacher en cas de depassement */
    background-color: white;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

header li {
    float: right;
    font-size: 1.5em;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logoPicone {
    width: 2.7em;
    padding: 10px 0px 0px 16px;
    float: left;
}

#nomLogo {
    font-family: 'Fredoka One', cursive;
    float: left;
}

/* ************************* BANNER ************************* */

#banner {
    padding-top: 60px;
    background: url(assets/iconsBg3.png) no-repeat fixed 50% 50%; /* Pour centrer l'image et la fixer*/
    background-size: cover;
    height: 600px;
    
}

h1 {
    font-family: 'Fredoka One', cursive;
    /*font-family: 'Lobster', cursive;*/
    text-align: center;
    color: rgb(7, 128, 209);
    font-size: 9em;
    margin-top: 1.2em;
    /*-webkit-text-stroke: 6px white;*/
    text-shadow: 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255);
    /*text-shadow: 10px 10px 0 red, -10px 10px 0 red, 10px -10px 0 red, -10px -10px 0 red;*/
}

/* ********************* INTRODUCTION ********************* */

#introduction {
    /*background-color: #d4ffff8c;*/
    background-color: rgb(0, 80, 134);
    padding: 10px 0px 80px 0;
}

#textIntro {
    padding: 0px 20%;
    /*color: rgb(7, 128, 209);*/
    color: white;
}

#textIntro h2 {
margin-bottom: 2.5em;
}

p {
    padding: 0 0 2em 0;
}

#textIntro p {
    margin-bottom: 2.5em;
    }

#imgDemo {
    width: 75%;
    border-radius: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 3px 2px rgba(222, 234, 241, 0.76);
}

/* ********************* PRESENTATION ********************* */

#presentation {
    margin-bottom: 2.5em;
}

#presentation h2 {
    padding: 30px 10%;
    text-align: center;
    margin: 2em 0;
    color: rgb(0, 80, 134);
}

.imageDuo {
    display: flex;
    padding: 30px 10%;
}

.iconAndText {
    display: flex;
}

.iconAndText img {
    width: 100%;
    border-radius: 30%;
    box-shadow: 2px 2px 3px 2px rgba(175, 214, 240, 0.596);
}

.iconAndText img:hover {
    transform: scale(1.08);
    transition: 0.15s ease-in-out;
}

.iconAndText p {
    padding: 0 2em;
}

/* ********************* FOOTER ********************* */

footer {
    background-color: rgb(0, 80, 134);
    color: white;
    padding: 20px 0 10px 0;
    text-align: center;
}

footer h2 {
    margin-bottom: 1.5em;
}

form {
    margin: 0 auto;
    max-width: 900px;
}

input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}

textarea {
    height: 120px;
}

button {
    font-size: 1.5em;
    background-color: white;
    color: rgb(0, 80, 134);
    margin-bottom: 1.5em;
}

button:hover {
    background-color: #d4ffff8c;
    color: white;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#trait {
    height: 2px;
    width: 75%;
    margin: 2em auto;
    background-color: #d4ffff8c;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.267);
}

#copyrightAndIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}

#copyright {
    width: 50%;
    text-align: left;
    color: white;
}

#socialMediaIcons {
    width: 50%;
    text-align: right;
}

#socialMediaIcons a {
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: white;
}

#socialMediaIcons a:hover {
    transform: scale(1.5);
    transition: 0.15s ease-in-out;
}





